<h2>{{title}}</h2>
<div class="card-columns">
    <div class="card" *ngFor="let receipt of receiptList">
        <div class="card-body">
            <h5 class="card-title">{{receipt.name}}</h5>
            <p class="card-text">{{receipt.rut}}</p>
            <p class="card-text">{{receipt.bank}}</p>
            <button  class="btn btn-secondary" routerLink="/dashboard/editar-destinatario/{{receipt._id}}" >Actualizar</button>
            <button class="btn btn-danger" (click)="deleteReceipt(receipt._id)"> Eliminar </button>
        </div>
    </div>
</div>