/* You can add global styles to this file, and also import other style files */

body,
html {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}

h2 {
  margin-top: 1.5%;
}

.form-container {
  display: flex;
  width: 80%;
}

.form-control {
  width: 50%;
}

.button-container {
  padding: 5% 0 0 10%;
}

.btn-primary {
  background-color: #5e6164;
  border-color: #5e6164;
  width: 50%;
}

@media screen and (max-width: 990px) {
  .form-container {
    display: block;
  }
  .form-control {
    width: 100%;
  }
  .button-container {
    margin-bottom: 5%;
  }
}
