<h2>{{title}}</h2>
<form>
    <div class="form-container">
        <div class="column">
            <p>
                {{rut}}
                <input type="text" class="form-control">
            </p>
            <p>
                {{mail}}
                <input type="text" class="form-control">
            </p>
            <p>
                {{bank}}
                <input type="text" class="form-control">
            </p>
            <p>
                {{account}}
                <input type="text" class="form-control">
            </p>
        </div>
        <div class="column">
            <p>
                {{name}}
                <input type="text" class="form-control">
            </p>
            <p>
                {{phone}}
                <input type="text" class="form-control">
            </p>
            <p>
                {{type}}
                <input type="text" class="form-control">
            </p>
        </div>
    </div>
</form>
<div class="button-container">
    <button class="btn btn-primary btn-lg">
        {{accept}}
    </button>
</div>