<h2>{{title}}</h2>
<form [formGroup]="newReceiver">
    <div class="form-container">
        <div class="column">
            <p> {{rut}} </p>
            <input type="text" class="form-control" formControlName="receiverRut">
            <p>{{mail}} </p>
            <input type="text" class="form-control" formControlName="receiverMail">
            <p>{{bank}}</p>
            <select type="text" class="form-control" formControlName="receiverBank">
                <option value="">Seleccione un banco</option>
                <option *ngFor="let bank of banksList" [value]="bank.name">{{bank.name}}</option>
            </select>
            <p>{{account}}</p>
            <input type="text" class="form-control" formControlName="receiverAccount">
        </div>
        <div class="column">
            <p> {{name}}</p>
            <input type="text" class="form-control" formControlName="receiverName">
            <p>{{phone}}</p>
            <input type="text" class="form-control" formControlName="receiverPhone">
            <p>{{type}}</p>
            <select class="form-control" formControlName="receiverType">
                <option value="">Seleccione un tipo</option>
                <option *ngFor="let type of accountsList" [value]="type.accountName">{{type.accountName}}</option>
            </select>
        </div>
    </div>
</form>
<div class="button-container">
    <button class="btn btn-primary btn-lg">
        {{accept}}
    </button>
</div>