/* The side navigation menu */
.sidebar {
    width: 200px;
    background-color: #cac6c9;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #5e6164;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: rgb(119, 113, 119);
    color: white;
  }
  
  
  @media screen and (max-width: 990px) {
    .sidebar {
      display: none;}
  }
  
