<table class="table">
    <div class="rnd-corner">
        <thead class="thead-dark">
            <tr>
                <th scope="col">{{names}}</th>
                <th scope="col">{{rut}}</th>
                <th scope="col">{{bank}}</th>
                <th scope="col">{{type}}</th>
                <th scope="col">{{mount}}</th>
                <th scope="col">{{date}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transaction of transactions">
                <td> {{transaction.receiver.name}} </td>
                <td> {{transaction.receiver.rut}} </td>
                <td> {{transaction.receiver.bank}} </td>
                <td> {{transaction.account.account_type}} </td>
                <td> {{transaction.ammount |currency:'CLP':'symbol-narrow'}} </td>
                <td> {{transaction.date | date: 'dd/MM/yyyy'}}  </td>
            </tr>
        </tbody>
    </div>
</table>